- name: PlatformIO Run
  uses: karniv00l/platformio-run-action@v1.1.2
  with:
    # 构建名为 'esp32dev' 和 'native' 的环境
    environments: esp32dev, native
    # 运行 'build' 和 'upload' 目标
    targets: build, upload
    # 指定项目在 'src/iot-device' 目录下
    project-dir: src/iot-device
    # 使用这个自定义配置文件
    project-conf: platformio_custom.ini
    # 使用4个并行任务进行构建
    jobs: 4
    # 静默模式，不显示进度条
    silent: false
    # 显示详细日志
    verbose: true
    # 禁用自动清理
    disable-auto-clean: true
